<div class="container ">
    <div class="col-md-6">
        <label for="inputRNo" class="form-label">Registration Number</label>
        <input type="text" class="form-control" id="RNo">
        <br />
        <button type="submit" class="btn btn-success ">Submit</button>
    </div>

</div>