<table class="table  table-striped">
    <thead>
        <tr>
            <th scope="col">Courses Offered</th>
            <th scope="col">Available Seats</th>
            <th scope="col">Links</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">CSE</th>
            <td>90</td>
            <td><a asp-controller="Reg" asp-action="CSEReg">Apply</a></td>
            
        </tr>
        <tr>
            <th scope="row">ECE</th>
            <td>40</td>
            <td><a asp-controller="Reg" asp-action="ECEReg">Apply</a></td>
        </tr>
        <tr>
            <th scope="row">MECH</th>
            <td>50</td>
            <td><a asp-controller="Reg" asp-action="MECHReg">Apply</a></td>
        </tr>
    </tbody>
</table>