

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>GREEN CAMPUS</h1>
<p>SRF Engineering College, a Christian Minority Institution of Higher Education governed by JAISAKTHI Educational Trust aims at imparting quality engineering education for the aspiring youth. The College is accreditated by National Board of Accreditation (NBA), New Delhi, approved by All India Council for Technical Education (AICTE) and recognized by UGC with 12(B) & 2(f ) status.</p>
<div class="card bg-dark text-white">
    <img src="~/images/GreenCampus.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
    </div>
</div>
<p>The college is located near Poonamallee, Chennai, and is well connected by road covering Chennai, Kancheepuram and Thiruvallur districts. The Trust started Panimalar Engineering College in the year 2000 in accordance with the general policy of the Government of Tamilnadu. The policy emphasizes to give high priority to meet the demand for trained engineers for various industrial and development projects in the state of Tamilnadu and the rest of India.</p>
<p>This sprawling campus provides a holistic education in an ambience that makes no compromise on discipline, dedication and commitment. It strives to inculcate the spirit of learning in the campus offering state of art facilities to the students. The college ensures that the students who pass out of the college, turn out to be academically brilliant, morally upright and empowered individuals.</p>

<div class="card mb-3" style="max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/Organic.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Organic Food</h5>
                <p class="card-text">Industrial agriculture harms animals and nature through the use of pesticides, artificial fertilisers and genetically modified crops. You can make a difference, by promoting sustainable food options.</p>
                <p class="card-text"><small class="text-muted">Get a Fair-Trade certification for your university, Work with local farmers to allow students and staff to buy bags with organic, local and sustainable food every week.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/Renewablee.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Renewable energy</h5>
                <p class="card-text">The burning of fossil fuels pollutes the air and contributes to global warming. Time to get rid of this ancient energy source, and use energy more efficiently.</p>
                <p class="card-text"><small class="text-muted">Install solar cells on the university’s rooftops, Optimise the ventilation, air-conditioning and heating of building management systems.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/Gardening.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Gardening, landscape and biodiversity</h5>
                <p class="card-text">Time to get outdoors, enjoy some fresh air, and create something practical with your hands.</p>
                <p class="card-text"><small class="text-muted">Build a campus garden with herbs and an insect hotel, Maintain a flower meadow, Introduce non-toxic cleaning products, Engage students and staff to plant a tiny forest close to the university.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/Recycling.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Recycling-related sustainability project ideas</h5>
                <p class="card-text">Our current economic model takes natural resources as inputs and creates waste as outputs. A circular economy aims to eliminate the idea of waste. Here is how you can help to promote recycling at your university.</p>
                <p class="card-text"><small class="text-muted">Set-up recycling stations for mobile phones, pens, markers and highlighters throughout the campus, ntroduce double-sided printing to reduce paper waste, Implement an e-waste policy to properly recycle electronic waste.</small></p>
            </div>
        </div>
    </div>
</div>