@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hostel</h1>
<p>The campus life at SRF is wholesome, easy and fun filled. It provides the students a judicious mix of education and enjoyment. The SRF campus offers to both the day scholars and residents a complete suite of facilities that are very self sufficient. Thus the student has absolutely no need to step out of the college premises for anything.</p>
<div class="card bg-dark text-white">
    <img src="~/images/Hostel 111.png" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
    </div>
</div>
<p>We go that extra mile to make the life of students staying at hostels that much more comfortable and pleasant, thereby making it second home. The college provides excellent and separate hostel facilities for both boys and girls. The students are provided spacious rooms with attached bath with running hot and cold water .subscribing to the fact that student need to have fresh air combined with physical sport it offers spacious and large play courts /playground for volley ball, basketball, shuttle, ball badminton and other outdoor games.</p>
<p>  </p>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Gents Hostel</h2>
            <p>A home away from home provided for boys accommodating 1000 students in an area of 1.18.260 sq.ft. The architecturally designed building and the surroundings offer a cool, green pleasant and eco friendly atmosphere which stimulates positive learning. It provides a lively environment which helps in healthy interaction among the students. The main hostel has 148 rooms which can accommodate 4 students per room .The rooms are allotted for second and third year of B.E /B.Tech, and PG students. The rooms are furnished with cots, cupboards, Chairs etc.., The second boys hostel has 96 rooms which can accommodate 4 students per room .The rooms are allotted for the first year of B.E /B.Tech students. The rooms are furnished with cots, cupboards, Chairs etc.</p>
        </div>
        <div class="col">
            <h2>Ladies Hostel</h2>
            <p>A home away from home provided for Girls accommodating 800 students in an area of 1.02.400 sq.ft. The architecturally designed building and the surroundings offer a cool, green pleasant and eco friendly atmosphere which stimulates positive learning. It provides a lively environment which helps in healthy interaction among the students. The main hostel has 128 rooms which can accommodate 4 students per room .The rooms are allotted for second and third year of B.E /B.Tech, and PG students. The rooms are furnished with cots, cupboards, Chairs etc.., The second girls hostel has 41 rooms which can accommodate 4 students per room .The rooms are allotted for the first year of B.E /B.Tech students. The rooms are furnished with cots, cupboards, Chairs etc.</p>
        </div>
    </div>
</div>

<!DOCTYPE html>
<html>
<head>
    <style>
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>

    <h2>Our Features</h2>
</body>
</html>



<div class="row row-cols-2 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="~/images/Gym 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gymnasium</h5>
                <p class="card-text">Gymnasium for practice for those students interested in staying fit.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/Yoga 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">YOGA center</h5>
                <p class="card-text">Yoga centre allowing students to practice yoga asanas and breathing exercises.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/Saloon 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">A Beauty Salon</h5>
                <p class="card-text">The students to stay well groomed and neat in appearance.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/Medical 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Medical facilities</h5>
                <p class="card-text">Medical Facility with a doctor on call are offered round the clock at the campus.</p>
            </div>
        </div>
    </div>
</div>


<p> </p>




<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="~/images/shop.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shop</h5>
                <p class="card-text">Shop facility available for students after college hours.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/laundry-and-ironing.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laundary and Ironing</h5>
                <p class="card-text">Laundry and Ironing facilities are availble.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/water heater.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Water heater</h5>
                <p class="card-text">Solar Water Heater facility is available for 24hours.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/mineral-water.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mineral Water</h5>
                <p class="card-text">Mineral Water provided to all the rooms for 24hours.</p>
            </div>
        </div>
    </div>
</div>


<p>   </p>




<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="~/images/Games.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Indoor & Outdoor Games</h3>
                <p class="card-text">Indoor and outdoor games facilities in Evening and Morning times.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/Theatre 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Theatre Programs</h3>
                <p class="card-text">Open Air Theatre Programs on every weekend for the Students.</p>
            </div>
        </div>
    </div>
