@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Civil Engineering</h1>
<img src="~/images/civil img.jpeg" width="1000" height="300">
<pre>

</pre>
<div>
    <p>
        Civil engineering is the oldest branch of the profession of engineering after military engineering. Many of the important 
        things in our lives that we take for granted are the products of civil engineering. Most people can not imagine life without
        the many contributions of civil engineers to the public's health, safety and standard of living. Only by exploring civil engineering's 
        influence in shaping the world we know today, we can creatively envision the progress of our tomorrows.
    </p>
</div>
<div>

    <h3 style="background-color: #89bec2; color: white;">Vision:</h3>
    <p>
        To become the department of excellence that brings out engineers with high technical competencies and 
        promotes high end research to meet current and future challenges in Civil Engineering.

    </p>

</div>
<pre>


</pre>
<div>
    <h3 style="background-color: #89bec2; color: white;">Mission:</h3>
    <ul>
        <li>To offer UG, PG and Ph.D. in Civil Engineering and other skill development courses that add value to student competencies.</li>
        <li>To promote quality eduacation, research and consultancy for industrial and society needs.</li>
        <li>To impart knowledge with emphasis on leadership qualities in students.</li>
        <li>To have regular interaction with industries and offer solutions to their problems.</li>
    </ul>
</div>
<pre>



</pre>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="~/images/7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head Of the Department</h5>
                    <p class="card-text">
                        <b>Dr. Jaynarayan T Tudu</b><br />
                        Assistant Professor<br />
                        Ph.D - Indian Institute of Science, Bangalore, India.<br />
                        Areas of Interest : Power-aware Computer Architecture,<br />
                        Digital VLSI Test and Verification<br />
                        0877 2503205<br />
                    </p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <h1 style="background-color: #89bec2;color:white;"> Labs:</h1>
            <ul class="list-group">
                <li class="list-group-item">Strength of Materials Lab </li>
                <li class="list-group-item">Engineering Geology Lab </li>
                <li class="list-group-item">Transportation Engineering Lab</li>
                <li class="list-group-item"> Fluid Mechanics & Hydraulics Machinery Lab</li>
                <li class="list-group-item">Concrete Technology Lab  </li>
                <li class="list-group-item"> CAD Lab  </li>
                <li class="list-group-item"> Environmental Engineering Lab </li>
                <li class="list-group-item">Remote Sensing & GIS Lab  </li>
                <li class="list-group-item">Geotechnical Engineering Lab</li>
                <li class="list-group-item">Industrial Training </li>
                <li class="list-group-item">Finite Element Simulation Lab </li>
                <li class="list-group-item"> Project </li>
            </ul>
        </div>

    </div>
</div>
