@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Computer Science and Engineering</h1>
<img src="~/images/cse-1.png" width="1000" height="300">
<pre>

</pre>
<div>
    <p>
        Computer Science and Engineering is the soul and psyche of many engineering branches.
        These fields are instrumental in bringing the world to where it is today.
        Computer Science & Engineering (CSE) course was started in the year 1997
        in this institution.Department of CSE offers the following UG and PG programs.
    </p>
    <pre>




</pre>

    <h3 style="background-color: #89bec2; color: white;">Vision:</h3>
    <p>
        To evolve as a centre of high repute in Computer Science & Engineering and create computer software professionals trained on
        problem solving skills imbued with ethics to serve the ever evolving and emerging requirements of IT Industry and society at large.
    </p>

</div>
<pre>


</pre>
<div>
    <h3 style="background-color: #89bec2; color: white;">Mission:</h3>
    <ul>
        <li>Imparting quality education through well designed curriculum, innovative teaching and learning methodologies integrated with professional skill development activities to meet the challenges in the career.</li>
        <li>Nurture research and consultancy activities amongst students and faculty by providing State-of-art facilities and Industry-Institute Interaction.</li>
        <li>Developing capacity to learn new technologies and apply to solve social and industrial problems to become an entrepreneur</li>
    </ul>
</div>
<pre>



</pre>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 25rem;">
                <img src="~/images/11.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head Of the Department</h5>
                    <p class="card-text">
                        <b>Dr. Venkata Ramana Badarla</b><br />
                        Associate Professor<br />
                        Ph.D - Indian Institute of Technology Madras, India<br />
                        Areas of Interest : Wireless Networks, Cloud Computing, IOT<br />
                        0877 2503212<br />
                    </p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h1 style="background-color: #89bec2; color: white;"> Labs:</h1>
            <ul class="list-group">
                <li class="list-group-item">Computer Networks Lab</li>
                <li class="list-group-item">Web Technologies Lab</li>
                <li class="list-group-item">Data Mining Lab</li>
                <li class="list-group-item">Java Programming Lab</li>
                <li class="list-group-item"> Python Programming Lab </li>
                <li class="list-group-item"> Database Management Systems Lab </li>
                <li class="list-group-item"> UNIX Operating System Lab </li>
                <li class="list-group-item"> AI Tools & Techniques Lab  </li>
                <li class="list-group-item"> UML Lab #  </li>
                <li class="list-group-item"> Project </li>
            </ul>
        </div>
        
    </div>
</div>


