@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Electronics & Communication Engineering</h1>
<img src="~/images/ece.jpg" width="1000" height="300">
<pre>

</pre>
<div>
    <p>
        The Department of Electronics and Communication Engineering was established in the year 1997 to start
        a B.Tech programme affiliated to the JNT University, Hyderabad. The first batch of students graduated from
        the department in the year 2001. A postgraduate programme, leading to M.Tech in 'Embedded Systems' was introduced in the year 2006.
        Consequent to the establishment of JNT University in Kakinada, the affiliations of both programmes were shifted to the new University
        from 2008 onwards. In the year 2008, the college was accredited by NAAC and awarded an 'A' grade.
        The institution has been conferred with Deemed-to-be University status by UGC from January 2009.
        Thus, from a modest beginning, the department has come a long way. Today, it is one among the leading educational
        institutions of the country inElectronics and Communication Engineering and offers the following UG and PG programmes. (Accredited by NBA)
    </p>
    <h3 style="background-color: #89bec2; color: white;">Vision:</h3>
    <p>
        To emerge as a Centre of Academic Excellence in Electronics and Communication Engineering that imparts quality technical education,
        research impetus,professional and ethical values to meet global needs of Industry and society.
    </p>

</div>
<pre>


</pre>
<div>
    <h3 style="background-color: #89bec2; color: white;">Mission:</h3>
    <ul>
        <li>Offering state of the art curriculum with innovative practices in teaching learning to pursue career in electronics and related fields.</li>
        <li>Providing advanced laboratory facilities and conducive research environment to make them industry ready and equip to carryout higher education towards research and consultancy.</li>
        <li>Transforming into responsible professionals with leadership qualities, managerial ability, team spirit, social consciousness, human values and ethics.</li>
    </ul>
</div>
<pre>



</pre>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="~/images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head Of the Department</h5>
                    <p class="card-text">
                        <b>Dr. Jaynarayan T Tudu</b><br />
                        Assistant Professor<br />
                        Ph.D - Indian Institute of Science, Bangalore, India.<br />
                        Areas of Interest : Power-aware Computer Architecture,<br />
                        Digital VLSI Test and Verification<br />
                        0877 2503205<br />
                    </p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h1 style="background-color: #89bec2; color: white;"> Labs:</h1>
            <ul class="list-group">
                <li class="list-group-item">Electronic Devices and Circuits - Lab</li>
                <li class="list-group-item">Switching Theory and Logic Design - Lab</li>
                <li class="list-group-item">Electronic Circuit Analysis - Lab</li>
                <li class="list-group-item">Analog Communications - Lab</li>
                <li class="list-group-item"> Digital Communications Lab </li>
                <li class="list-group-item"> Microprocessor and Microcontrollers - Lab </li>
                <li class="list-group-item"> VLSI Lab </li>
                <li class="list-group-item"> Digital Signal Processing Lab  </li>
                <li class="list-group-item"> Microwave and Optical Communication Engineering LAB  </li>
                <li class="list-group-item"> Project </li>
            </ul>
        </div>

    </div>
</div>

