@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 >Electrical & Electronics Engineering </h1>
<img src="~/images/electrical-engineering-image.jpg" width="1000" height="300">
<pre>

</pre>
<div>
    <p>
        The Department of Electrical Engineering, one of the nine founding Departments of Vignan's Foundation for Science,
        Technology & Research (Deemed to be University), is started in the year 2009 by adopting the motto: Excellence in Engineering Education.
        The department strives for excellence in teaching, research and professional services to the industry so as to achieve
        eminence in selected niche areas of Electrical and Electronics Engineering.
    </p>
    <h3 style="background-color: #89bec2; color: white;">Vision:</h3>
    <p>
        To prepare the students to meet the demands of changing industrial needs and to mould them into successful and ethical professionals,
        globally accepted in Electrical and Electronics Engineering and allied fields contributing to nation's building.
    </p>

</div>
<pre>


</pre>
<div>
    <h3 style="background-color: #89bec2; color: white;">Mission:</h3>
    <ul>
        <li>To prepare the students to meet the demands of changing industrial needs and to mould them into successful and ethical professionals, globally accepted in Electrical and Electronics Engineering and allied fields contributing to nation's building.</li>
        <li>Providing advanced laboratory facilities and conducive research environment to make them industry ready and equip to carry out higher education.</li>
        <li>Transforming into responsible professionals with leadership qualities, managerial ability, team spirit, social consciousness, human values and ethics.</li>
    </ul>
</div>
<pre>



</pre>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="~/images/15.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head Of the Department</h5>
                    <p class="card-text">
                        <b>Dr. Ajin George Joseph</b><br />
                        Assistant Professor<br />
                        Ph.D - Indian Institute of Science, Bangalore, India.<br />
                        Areas of Interest : Reinforcement learning,<br />
                        Stochastic approximation algorithms<br />
                    </p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <h1 style="background-color: #89bec2; color: white;"> Labs:</h1>
            <ul class="list-group">
                <li class="list-group-item">Thermal and Hydro Laboratory</li>
                <li class="list-group-item">Electrical Circuits Laboratory</li>
                <li class="list-group-item">Electrical Machines -I Laboratory</li>
                <li class="list-group-item">Electronic Devices & Circuits Laboratory</li>
                <li class="list-group-item"> Electrical Machines-II Laboratory </li>
                <li class="list-group-item"> Control Systems Laboratory </li>
                <li class="list-group-item"> Electrical Measurements & Instrumentation Laboratory </li>
                <li class="list-group-item"> Power Electronics Laboratory  </li>
                <li class="list-group-item"> Microprocessors & Microcontrollers Laboratory</li>
                <li class="list-group-item"> Power Systems& Simulation Laboratory </li>
                <li class="list-group-item"> Project </li>
            </ul>
        </div>

    </div>
</div>
