@model  College_Portal.Models.RegModel
<form asp-action="Contact" method="post">
    <input asp-for="Id" value="1" hidden />
    <div class="row">
        <div class="col ">
            <div class="mb-3 form-group ">
                <label for="formGroupExampleInput" class="form-label ">Your Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" required asp-for="Name" placeholder="Enter Your Name">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label ">Email</label>
                <input type="email" class="form-control" id="formGroupExampleInput2" required asp-for="mailId" placeholder="Enter Your Email">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Phone</label>
                <input type="text" class="form-control" id="formGroupExampleInput" asp-for="MNo" required placeholder="Enter Your Number">
            </div>
            <div class="mb-3">
                <label for="textmesg" class="form-label">Your Message</label>
                <textarea class="form-control" placeholder="Your message" asp-for="msg" id="textmesg" rows="3"></textarea>
            </div>
            <div class="mb-3">
               <button type="submit" class="btn btn-success ">Submit</button>
            </div>
        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3846.145989568082!2d73.97637031375146!3d15.422669960538602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfbbab3514bf81%3A0xbcbf44349a1284af!2sIIT%20Goa%20Academic%20Building!5e0!3m2!1sen!2sin!4v1644292554520!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>


    </div>

</form>
